body {
  background: url('https://i.servimg.com/u/f21/18/09/78/05/backgr10.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0,0,0,0);
}

a:visited {
    color: #e6c474;
    text-decoration: none;
}
a:link {
    color: #d4cdbd;
    text-decoration: none;
}

.mainmenu { margin: auto; }

/* The site header image */
.headerbar {
  width: 100%;
  height: 420px;
  background-image: url('https://i.servimg.com/u/f21/18/09/78/05/ib202010.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  background-color: transparent;
  background-blend-mode: overlay;
  background-color: rgba(0,0,0,0);
}

#wrap { background-color: rgba(0,0,0,0); }
#wrapper { margin-top: 100px; }

.navbar { background-color: rgba(0,0,0,0); }

.view-forum {
    float: right;
    padding: 3px;
    color: white;
    background-color: black;
}

.nav-inner { display: inline-block; padding: 8px; width:100%; }

ul.navlinks {
    font-weight: 700;
    text-align: center;
    border-bottom: none;
}

ul.linklist li {
    display: inline-flex;
    font-size: 12px;
    line-height: 2.2em;
    list-style-type: none;
    width: 100px;
    border: 2px solid #6b5e05;
    padding: 6px;
    margin: 6px;
    border-radius: 6px;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(25, 24, 24));
    color: #d4cdbd;
    min-height: 40px;
    text-align: center;
}

.panel { background-color: rgba(0,0,0,0); }

/* Forum box */
.forabg {
  background-color: rgba(0,0,0,1);
  margin-top: 50px;
  max-width: 75%;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: none;
  border: none;
}

li.row { border: none; }

.accordian { font-family: 'IM Fell English SC', serif; }

.counters {
  float: right;
  padding: 2px;
}

.info-label {
 padding: 2px;
 margin-right: 8px;
 border: 2px solid #6b5e05;
 border-radius: 4px;
 background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(25, 24, 24));
 font-family: 'IM Fell English SC', serif;
}

#content-container div#left {
    float: left;
    overflow: hidden;
    width: 180px;
    margin-left: 100px;
}




.ui-accordion-header {
    border: 1px solid #6b5e05;
    font-weight: normal;
    color: #ffffff;
    background: none !important;
    background-color: black;
}

.ui-state-hover {
    border: 1px solid #0b93d5;
    background: none;
    font-weight: normal;
    color: #ffffff;
}

li.row:hover {
    background-color: #0b93d5;
}
