body {
  background: url('https://i.servimg.com/u/f21/18/09/78/05/backgr10.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
}

a {
  color: #d4cdbd !important;
}

a:hover {
  color: #fff !important;
  text-shadow: -2px 1px 12px #e6c474;
}

a:visited {
  color: #e6c474;
  text-decoration: none;
}

a:link {
  color: #d4cdbd;
  text-decoration: none;
}

.mainmenu {
  margin: auto;
}

/* The site header image */

.headerbar {
  width: 100%;
  height: 420px;
  background-image: url('https://i.servimg.com/u/f21/18/09/78/05/ib202010.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  background-color: transparent;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0);
}

#wrap {
  background-color: rgba(0, 0, 0, 0);
}

#wrapper {
  margin-top: 100px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
}

.view-forum {
  float: right;
  padding: 3px;
  color: white;
  background-color: black;
}

.nav-inner {
  display: inline-block;
  padding: 8px;
  width: 100%;
}

ul.navlinks {
  font-weight: 700;
  text-align: center;
  border-bottom: none;
}

ul.linklist li {
  display: inline-flex;
  font-size: 12px;
  line-height: 2.2em;
  list-style-type: none;
  width: 100px;
  border: 2px solid #6b5e05;
  padding: 6px;
  margin: 6px;
  border-radius: 6px;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(25, 24, 24));
  color: #d4cdbd;
  min-height: 40px;
  text-align: center;
}

.panel {
  background-color: rgba(0, 0, 0, 0);
}

/* Forum box */

.forabg {
  background-color: rgba(0, 0, 0, 1);
  margin-top: 50px;
  max-width: 85%;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: none;
  border: 1px solid #6b5e05;
  border-radius: 8px;
  padding: 10px;
  padding-bottom: 32px;
}

.forum-title {
  padding-bottom: 8px;
  font-family: 'IM Fell English SC', serif;
}

li.row {
  border: none;
}

.accordian {
  font-family: 'IM Fell English SC', serif;
}

.counters {
  float: right;
  padding: 2px;
}

.info-label {
  padding: 2px;
  margin-right: 8px;
  border: 2px solid #6b5e05;
  border-radius: 4px;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(25, 24, 24));
  font-family: 'IM Fell English SC', serif;
}

#content-container div#left {
  float: left;
  overflow: hidden;
  width: 180px;
  margin-left: 100px;
}

.ui-accordion-header {
  border: 1px solid #6b5e05;
  font-weight: normal;
  color: #ffffff;
  background: none !important;
  background-color: black;
}

.ui-state-hover {
  border: 1px solid #0b93d5;
  background: none;
  font-weight: normal;
  color: #ffffff;
}

li.row:hover {
  background-color: #0b93d5;
}

h2 {
  color: #1f8eea;
  font-family: 'IM Fell English SC', serif;
  font-size: 24px;
  font-weight: 400;
  margin: .8em 0 .2em;
  padding-bottom: 10px;
}

.category-label-span {
  font-family: 'IM Fell English SC', serif;
}

.module {
  background-color: #000;
  color: #536482;
  margin-bottom: 4px;
  overflow: hidden;
  padding: 10px;
  border: 2px solid #6b5e05;
  font-family: 'IM Fell English SC', serif;
  font-size: 12px;
  border-radius: 10px;
}

.panel span.corners-top {
  display: none;
}

.panel span.corners-bottom {
  display: none;
}

.module span.corners-bottom {
  display: none;
}

.module span.corners-top {
  display: none;
}

.shadow:hover {
  text-shadow: -2px 1px 12px #e6c474;
}

.info-pane {
  color: #d4cdbd;
  padding: 10px;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(25, 24, 24));
  border: 2px solid #6b5e05;
  margin-bottom: 20px;
  border-radius: 6px;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  min-height: 150px;
}

.panel {
  color: #d4cdbd;
  padding: 10px;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(25, 24, 24));
  border: 2px solid #6b5e05;
  margin-bottom: 20px;
  border-radius: 6px;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

label {
  color: #d4cdbd;
}

.forumbg {
  background-color: #000;
  background-image: none;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 2px solid #6b5e05;
  border-radius: 6px;
}

#main-content>div.forumbg.announcement {
  margin-bottom: 20px;
}

.info {
  font-style: normal;
}

/* Table fixes */

table.table1 {
  width: 99%;

  /* IE < 6 browsers */
  width: 100%;
}

html>body table.table1 {
  width: 100%;
}

table tbody tr td a span {
  color: #fff;
}

table.table1 thead th {
  font-weight: normal;
  text-transform: capitalize;
  color: #d4cdbd;
  line-height: 1.3em;
  font-size: 16px;
  padding: 0 0 4px 3px;
  font-family: 'IM Fell English SC', serif;
}

table.table1 thead th span {
  padding-left: 7px;
}

table.table1 tbody tr {
  border: 2px solid #6b5e05;
}

table.table1 tbody tr:hover,
table.table1 tbody tr.hover {
  background-color: rgb(56, 56, 56);
  color: #fff;
}

table.table1 td {
  color: #d4cdbd;
  font-size: 12px;
}

table.table1 tbody td {
  padding: 5px;
  border-top: 2px solid #6b5e05;
}

table.table1 tbody th {
  padding: 5px;
  border-bottom: 1px solid #000000;
  text-align: left;
  color: #ffffff;
  background-color: #ecf3f7;
}

table.table1 .name {
  text-align: left;
}

table.table1 .posts {
  text-align: center !important;
  width: 7%;
}

table.table1 .joined {
  text-align: left;
  width: 15%;
}

table.table1 .active {
  text-align: left;
  width: 15%;
}

table.table1 .mark {
  text-align: center;
  width: 7%;
}

table.table1 .info {
  text-align: left;
  width: 30%;
}

table.table1 .info div {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

table.table1 .autocol {
  line-height: 2em;
  white-space: nowrap;
}

table.table1 thead .autocol {
  padding-left: 1em;
}

table.table1 .stats {
  text-align: center;
  width: 12%;
}

table.table1 .edit {
  width: 5%;
  text-align: right;
  vertical-align: top;
}

table.table1 .alignv {
  vertical-align: top;
}

/*  Forum Listings */

.buttons div.post-icon {
  height: 10px;
  width: auto;
}


/* View Forum Body */

p.path {
  clear: left;
  margin-left: 0px;
  padding-top: 20px;
}

#main-content>div.forumbg.announcement>div>span.corners-top {
  display: none;
}

#main-content>div.forumbg.announcement>div>span.corners-bottom {
  display: none;
}

li.header dd,
li.header dt {
  font-weight: normal;
  text-transform: capitalize;
  color: #d4cdbd;
  line-height: 1.3em;
  font-size: 16px;
  padding: 0 0 4px 3px;
  font-family: 'IM Fell English SC', serif;
}

/* View topic body */

.topic-actions {
  font-size: 1.1em;
  height: auto;
  margin-bottom: 5px;
  margin-top: 1em;
}

.go-right {
  float: right;
}

.go-left {
  float: left;
}

.pathname-box {
  float: left;
  margin-left: 0px;
  margin-top: 18px;
}

.post {
  color: #d4cdbd;
  padding: 10px;
  border: 2px solid #6b5e05;
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 0 10px;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.postprofile {
  color: #536482;
  display: inline;
  margin: 5px 0 0;
  min-height: 80px;
  position: relative;
  max-width: 20%;
  word-wrap: break-word;
  border: none;
  display: block;
}

.postbody {
  clear: none;
  color: #536482;
  line-height: 1.48em;
  padding: 0px;
  width: 80%;
  margin-top: 10px;
}

.online {
  background-image: none;
}

.postprofile > dl > dt > a > img {
  border-radius: 6px;
  border: 2px solid #6b5e05;
  margin-top: 2px;
  max-width: 100px;
}

dd {
  margin: 10px;
  color: #d4cdbd;
}

dd span {
  display: inline-block;
  margin-top: 4px;
}

.label > span {
  color: #d4cdbd !important;
}

.postprofile > dl > dt:nth-child(3) > strong > a > span > strong {
  color: #fff;
}

.postbody ul.profile-icons {
  float: right;
  list-style: none;
  margin-top: -5px;
  padding: 0;
  width: auto;
  margin-right: -18px;
}

dl.icon {
  background-position: 18px 24%;
  background-repeat: no-repeat;
  height: auto;
  min-height: 35px;
}

dd.lastpost {
  font-size: 1.1em;
  width: inherit;
}

label input {
  vertical-align: unset;
}

.content {
  padding-bottom: 12px;
}

/*  Profile page fixes */
#tabs {
  line-height: normal;
  margin: 20px 0px -2px 66px;
  border-left: solid 2px #6b5e05;
}

fieldset dl:hover dt label {
	color: #ffffff;
}

#fym_banner { width: 360px; }

#profile-advanced-details {
  height: 940px;
  width: 100%;
  margin-left: 66px;
  margin-top: 1px;
}

#profile-advanced-right {
  float: right;
  width: 300px;
  left: -32px;
  position: relative;
}

#profile-advanced-left {
  margin-right: 300px;
  margin-top: 36px;
}

h1.page-title {
  color: #fff;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 2em;
  font-weight: 400;
  margin: 0.5em 0.8em 1.3em 3.2em;
}

.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
    font-size: 16px;
}

.forum-title {
    margin: 0.5em 0.8em 1.3em 0em;
}